/* HTML Tag Redefinition */
/*html, body {height: 100%;  }*/
body {/* customize_background  background-color: #f1efee;*/ /*background-image:url(images/page_main_bg.gif); background-position:center top; background-repeat:no-repeat;*/ /* customize_background */ padding: 0px; margin: 0px; margin-bottom:20px; margin-bottom:20px; /*background-image:url(images/page_main_bg_rep.gif); background-position:center top; background-repeat:no-repeat;*/ background-color:#dad9d9; }
img {border: 0px}
/*a { cursor:pointer}*/




/* Header */
#top { background:url(images/top-bg.gif) repeat-y center;}
/*#top:hover {margin-top:0px;}*/
#top #topContainer {width:900px; margin:0 auto; padding:20px; padding-bottom:5px; display:none;}
#top #topContainer #socialMedia { /*background:url(images/top-bubble.gif) no-repeat bottom; */padding-bottom:30px;  height:150px;}
#top #topContainer #socialMedia #twitter {width:420px; margin-right:20px; float:left; color:#FFF;}
#top #topContainer #socialMedia #facebook {width:420px; float:right; color:#FFF;}



#header { background:url(images/top-bg.gif) repeat-y center;height:120px;}
#header #headerContainer {width:900px; margin:0 auto; padding:10px 20px;  color:#FFF;}
#header #headerContainer #logo { width:100%;}
#header #headerContainer #logo li.nav-path-selected { background-color:#DAD9D9; height:35px; font-weight:bold;border-radius:4px 4px 0 0;}
#header #headerContainer #logo li.nav-path-selected a {color:#00407c;}
#header #headerContainer #logo li.nav-path-selected a:hover {color:#333;} 
#header #headerContainer #menu { text-align:right; margin-top:10px;}
#header #headerContainer ul { text-align:center; padding: 0; margin:0 auto; margin-top:20px; }
#header #headerContainer ul li { display:block; float:left;padding-top:6px;}
#header #headerContainer ul li a { padding:5px; margin:0 4px; text-decoration:none; color:#FFF; font-size:15px;}
#header #headerContainer ul li a:hover {color:#CCCCCC;}


#main {}
#main #mainContainer { width:900px; margin:20px auto; background-color:#FFF; border:1px #CCC solid; padding:20px;}
#main #mainContainer #lineContainer { width:940px; margin-left:-18px; }
#main #mainContainer #lineContainer #line { margin:20px;height:1px; border-bottom:1px dotted #CCC;margin-bottom:40px;}
#main #mainContainer #lineContainer #quarter { width:210px; height:135px; float:left; padding:12px; background:url(images/images-bg.png) no-repeat; margin-bottom:50px;}
#main #mainContainer #lineContainer #quarterTitle { text-align:center; font-size:12px; margin-bottom:40px;}
#main #mainContainer #lineContainer #full { padding:20px; border-top:1px dotted #CCC; /*margin-top:40px; */}
#main #mainContainer #twoThird { width:600px; float: left;}
#main #mainContainer #oneThird { width:250px; float: right;}
#main #mainContainer #testimonials {background-color: #999; color:#FFF; font-size:20px; margin-bottom:20px;}
#main #mainContainer #testimonials:hover {background-color:#00407c}
#main #mainContainer #image { width:467px; height:303px; background:url(images/images-gd-w.png) no-repeat; float:right; margin-left:10px;}
#main #mainContainer #signup { }
#main #mainContainer #leftHalf { width:430px; float: left; margin-top:40px;}
#main #mainContainer #leftHalf #contactUs { font-size:18px; font-weight:bolder; color:#00407c; line-height:110%}
#main #mainContainer #rightHalf { width:430px; float: right; margin-top:40px;}
#main #mainContainer #download { clear:both; margin-top:50px; background-color:#00407c; padding:20px; padding-bottom:10px; color:#FFF; font-size:18px; }
#main #mainContainer #download h1 {color:#FFF}


#strap { background:url(images/main-strap-bg.gif) repeat-x top; /*min-height:176px;*/}
#strap #strapContainer { width:900px; margin:0px auto; padding:20px;}

#strap-s { background:url(images/main-strap-s-bg.gif) repeat-x top; min-height:81px; margin-bottom:20px;}
#strap-s #strapContainer { width:900px; margin:20px auto; padding:7px;}
#strap-s #strapContainer h1 {color:#FFF;}
#strap-s #strapContainer ul { text-align:left; height:39px; background:url(images/subnav-bg.png) repeat-x; margin:0; display:block; float:left; padding-left:0;}
#strap-s #strapContainer ul li { display:block; float:left;height:25px;margin-top:11px; margin-left:5px; margin-right:5px;}
#strap-s #strapContainer ul li.nav-selected { background:url(images/cat-bg.png) repeat-x bottom; }
#strap-s #strapContainer ul li a { padding:5px; text-decoration:none; color:#FFFFFF; font-size:18px;}
#strap-s #strapContainer ul li a:hover {color:#1b75bc;}


/* Other Styles */
div.qGrid { width:205px; float:left; display:block; height:205px; padding:10px;}
input.formBlockSubmitButton {background:url(images/submit.png) no-repeat; font-family:'InterstateRegular', Arial, sans-serif; color:#FFF; font-size:16px; height:40px; width:114px; border:0; padding-bottom:5px;cursor:pointer;}
.ccm-input-text, div.ccm-field-meta input, div.ccm-field-meta textarea, .ccm-input-date, .ccm-input-password, .ccm-input-textarea {font-size: 18px; !important; border: 1px solid #aaa; color: #444; padding: 4px; width:190px;  position:relative;top:0px;}
div.ccm-form {width: 500px; margin:0 auto;}



/*logo style */
td.areaName, td.areaNameFooter {
        background:url(images/logo-right.png) no-repeat right bottom;
        font-family:'InterstateRegular', Arial, sans-serif; 
        color:#FFF; 
        font-size:30px; 
        padding-right:20px;
        padding-bottom:4px;
	text-transform:lowercase;
    }
td.areaName a, td.areaNameFooter a {text-decoration: none;}
td.areaName a span.odd, td.areaNameFooter a span.odd  {color: #b6d6ef;}
td.areaName a span.even, td.areaNameFooter a span.even {color: #FFFFFF;}
.welcomeArea {text-transform:lowercase;}
.welcomeArea span.even {color: #00407C;}
.welcomeArea span.odd {color: #b6d6ef}
