html {
    font-size: 62.5%;
}
body {
    margin: 0; 
    padding: 0;
    line-height: 1.5em;
    background: #ecf5f8;
    color: #333333;
    font-family: Calibri, Arial, Helvetica, Sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 8px 0 4px; 
    padding: 4px 0;
    font-size: 1em;
    font-weight: normal;
}
h1 {
    font-size: 4.0em;
    line-height: 1.1em;
    font-weight: 700;
    font-family: 'expressway', Arial, Helvetica, Sans-serif;
    margin: 0 0 5px;
	color: #003e7e;
}
h2 {
    font-size: 2.2em;
    line-height: 1.2em;
    font-family: 'expressway', Arial, Helvetica, Sans-serif;
    font-weight: 600;
	color: #008fc5;
}
h3 {
    font-size: 1.6em;
    line-height: 1.3em;
}
h4 {
    font-size: 1.4em;
    line-height: 1.3em;
}
h5 {
    font-size: 1.3em;
    line-height: 1.3em;
}

img {
    border: none;
    display: block;
}

a {
    text-decoration: none;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}
a:hover {
    text-decoration: none;
}

ul, ol {
    margin: 0 0 0 17px; 
    padding: 0;
    font-size: 1.4em;
}
ul li,
ol li {
    margin: 2px 0;
    font-size: 1.0em;
}
ul ul,
ol ol,
ul ol,
ol ul {
    font-size: 1.0em;
}
ul p,
ol p {
    font-size: 1.0em;
    line-height: 1.2em;
}
form, fieldset {
    margin: 0; 
    padding: 0;
    border: 0;
}
p {
    margin: 0 0 15px 0;
    font-size: 1.5em;
    line-height: 1.5em;
}
p a {
    font-size: 1.0em;
}

label {
    font-size: 1.4em;
}

.clear {
    clear: both;
}

::selection {
    background: rgba(255, 255, 255, 0.9);
    color: #000000;
}
::-moz-selection {
    background: #ffffff; 
    color: #000000;
}





/* Header */
#top { background:url(images/top-bg.gif) repeat-y center;}
/*#top:hover {margin-top:0px;}*/
#top #topContainer {width:900px; margin:0 auto; padding:20px; padding-bottom:5px; display:none;}
#top #topContainer #socialMedia { /*background:url(images/top-bubble.gif) no-repeat bottom; */padding-bottom:30px;  height:150px;}
#top #topContainer #socialMedia #twitter {width:420px; margin-right:20px; float:left; color:#FFF;}
#top #topContainer #socialMedia #facebook {width:420px; float:right; color:#FFF;}


#header {
    margin: 25px 0 20px;
    overflow: hidden;
}


#header img {
 float: left; height: 90px;
} 

#header #logo {
    float: left;
    overflow: hidden;
    height: 67px;
}
#header #logo h1 {
    color: #ffffff;
    font-size: 1.9em;
    text-transform: lowercase;
}
#header #logo h1 span.odd {
    color: #b9d5f0;
}
#header #logo h1 span.even {
    color: #ffffff;
}
#header #logo span.left,
#header #logo span.right {
    float: left;
    height: 51px;
    margin: 0;
    padding: 12px 4px 0 16px;
    background: url(../images/global/logo-left.png) top left no-repeat;
}
#header #logo span.right {
    height: 51px;
    padding: 12px 20px 0 0;
    background: url(../images/global/logo-right.png) top right no-repeat;
}
#header.home #logo span.left {
    padding-right: 0;
}
#header #contact-details {
    float: right;
    overflow:hidden;
    background: url(../images/global/home-buy-local.png) top right no-repeat;
    height: 80px;
    padding-right: 95px;
    color: #193a7d;
    font-family: 'expressway', Arial, Helvetica, Sans-serif;
    font-weight: 700;
}
#header #contact-details #telephone {
    float: right;
    font-size: 2.8em;
    line-height: 1.2em;
    margin-top: 12px;
}
#header #contact-details #email {
    float: right;
    clear: right;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-top: 0px;
}

ul.nav {
    float: left;
    clear: both;
    margin: 0;
    padding: 15px 0 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
}
#main-header ul.nav {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    clear: none;
    width: 300px;
}
ul.nav li {
    display: inline;
    float: left;
    overflow: hidden;
}
ul.nav li a {
    float: left;
    font-size: 1.1em;
    font-family: 'expressway', Arial, Helvetica, Sans-serif;
    font-weight: 600;    
    color: #ffffff;
    text-transform: lowercase;
    padding: 11px 0 12px;
    text-align: center;
}
ul.nav li.home a {
    padding: 10px 0;
    width: 42px;
    background: #cce2e9;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}
ul.nav li.home a img {
    margin: 0 0 0 10px; width: 22px!important; height: 18px!important;
}
ul.nav li.what-is-thebestof a {
    background: #193a7c;
    width: 158px;
}
ul.nav li.about-thebestof a {
    background: #3b92c8;
    width: 142px;
}
ul.nav li.what-our-customers-say a {
    background: #2a7968;
    width: 208px;
}
ul.nav li.up-and-coming-events a {
    background: #9cb324;
    width: 178px;
}
ul.nav li.our-partners a {
    background: #5d3886;
    width: 124px;
}
ul.nav li.contact-us a {
    background: #a81a42;
    width: 108px;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}



ul.nav.admin li.home a {
    width: 42px;
}
ul.nav.admin li.what-is-thebestof a {
    width: 148px;
}
ul.nav.admin li.about-thebestof a {
    width: 132px;
}
ul.nav.admin li.what-our-customers-say a {
    width: 190px;
}
ul.nav.admin li.up-and-coming-events a {
    width: 173px;
}
ul.nav.admin li.our-partners a {
    width: 114px;
}
ul.nav.admin li.contact-us a {
    width: 98px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
ul.nav.admin li.admin a {
    background: #193a7c;
    width: 63px;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}


.awardTable img{ padding: 5px; -webkit-box-shadow:  0px 0px 3px 3px rgba(0, 0, 0, .1); box-shadow:  0px 0px 3px 3px rgba(0, 0, 0, .1); margin: 10px 0 0 0;}

.awardTable h3{ display: block; color: #003e7e; font-weight: bold;  }



#main-header,
#main-content,
#main-footer {
    padding: 20px;
}
.content {
    margin: 0;
    padding: 0;
}
#main-header {
    background: #48a8df;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
#main-header.home {
    display: none;
}
#main-content {
    background: #ffffff;
    overflow: hidden;
}
#main-footer {
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    background: #193a7c;
    overflow: hidden;
}
#main-footer.home {
    display: none;
}
#main-footer .content {
    width: 600px;
    float: left;
}
#main-footer h2 {
    float: left;
    font-size: 1.6em;
    color: #ffffff;
    margin: 0;
}
#main-footer ul.links {
    overflow: hidden;
    float: left;
    clear: left;
    list-style: none;
    margin: 0;
    width: 100%;
}
#main-footer ul.links li {
    float: left;
    margin: 0 15px 0 0;
}
#main-footer ul.links li a {
    color: #71c4f4;
    font-size: 1.35em;
    line-height: 1.2em;
}
#main-footer .social {
    float: right;
    overflow: hidden;
    margin: 5px 0 0;
}
#main-footer .social a {
    float: left;
    margin: 0 0 0 5px;
    width: 61px;
    height: 61px;
}
#main-footer .social a.facebook {
    background: url(../images/global/footer-icon-facebook.png) no-repeat top left;
}
#main-footer .social a.twitter {
    background: url(../images/global/footer-icon-twitter.png) no-repeat top left;
}
#main-footer .social a.linkedin {
    background: url(../images/global/footer-icon-linkedin.png) no-repeat top left;
}
#main-footer .social a.googleplus {
    background: url(../images/global/footer-icon-googleplus.png) no-repeat top left;
}

#subfooter {
    width: 100%;
    margin: 10px 0 0;
    padding-bottom: 100px;
}
#subfooter p {
    float: right;
    text-align: right;
    color: #193a7c;
}

#home-page,
#page {
    clear: both;
}
#home-page #main-header {
    position: relative;
    height: 200px;
}
#home-page #main-header .content {
    width: 520px;
    float: left;
}
#home-page #main-header .content h1 {
    color: #ffffff;
}
#home-page #main-header .content h1 .welcomeArea {
    text-transform:lowercase;
}
#home-page #main-header .content h1 .welcomeArea span.even {
    color: #ffffff;
}
#home-page #main-header .content h1 .welcomeArea span.odd {
    color: #0b397c
}
#home-page #main-header .content h1 .loc {
    text-transform: lowercase;
}
#home-page #main-header .content h2 {
    color: #0b397c;
}
#home-page #main-header img.header-image {
    position: absolute;
    right: 15px;
    bottom: 0px;
    z-index: 5;
}

#page #main-header {
    padding: 10px 20px 0px 20px;
}
#page #main-header .content h1 {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 3.0em;
    text-transform: lowercase;
    line-height: 1.0em;
}
#page #main-header .content ul {
    text-align: left;
    padding: 0;
    height: 39px;
    background: #003e7e;
	
    margin: 0;
    float: left;
    padding:  0 30px ;
}
#page #main-header .content ul li {
    float: left;
    height: 39px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right:5px;
}
#page #main-header .content ul li.nav-selected {
    background: #b5d5f0; 
}
#page #main-header .content ul li a {
    padding:5px;
    text-decoration:none;
    color:#FFFFFF;
    font-family: 'expressway', Arial, Helvetica, Sans-serif;
    font-size:18px;
}
#page #main-header .content ul.nav li a {
    padding: 0 5px;
}
#page #main-header .content ul li a:hover {
    color:#1b75bc;
}

#main-content h1 {
    font-size: 4.5em;
    color: #00407c;
    font-weight: 800;
}

.user {
    text-align: right;
    font-size: 11px;
    color: #444;
    width: 960px;
    margin: 0 auto;
    clear: both;
    float: left;
}

#content-top-intro,
#content-top,
#content {
    overflow: hidden;
}
#content-top-intro {
    margin: 0 0 10px;
}
#content-top .introduction {
    float: left;
    width: 510px;
    margin-right: 20px;
}
#content-top .video {
    float: right;
    width: 350px;
	padding: 10px;
	background: #fff;
	
	/*-webkit-box-shadow:  2px 2px 5px 2px rgba(0, 0, 0, .1);
        
        box-shadow:  2px 2px 5px 2px rgba(0, 0, 0, .1);*/
}
#content-top .video td,
#content-top .video td h3 {
    font-size: 1.4em;
}
#content-top .video td {
    height: 50px;
    vertical-align: middle;
}
    
#left-col,
#right-col {
    float: left;
	height: auto;
    overflow: hidden;
    width: 450px;
}
#left-col {
    margin-right: 20px;
}
#two-third,
#one-third {
    float: left;
    overflow: hidden;
    width: 289px;
}
#two-third {
    width: 600px;
    margin-right: 20px;
}
#download {
    padding: 20px 20px 2px;
    position: relative;
    background: #48a8df;
}
#download img.footer-image {
    position: absolute;
    bottom: 25px;
    right: 0px;
}
#download h2 {
    color: #193a7c;
    font-size: 3.0em;
    letter-spacing: -1px;
    margin: 0 0 5px;
}
#download p {
    color: #ffffff;
    width: 580px;
    font-family: 'expressway', Arial, Helvetica, Sans-serif;
    font-weight: 400;
    font-size: 1.9em;
    letter-spacing: 1px;
}
#download.contact-us,
#download.admin,
#download.home {
    display: none;
}

.leftHalf{float: left;}
    

/* Other Styles */
div.qGrid { width:205px; float:left; display:block; height:205px; padding:10px;}
input.formBlockSubmitButton {font-family:'expressway', Arial, sans-serif; color:#FFF; font-size:18px; background: #003e7e; border: 5px #b5d5f0 solid; -webkit-border-radius: 20px;
	 border-radius: 20px; height:44px; width:150px; padding-bottom:5px;cursor:pointer; font-weight: bold; line-height:30px;}

input.formBlockSubmitButton:hover{background: #b5d5f0; border: 5px #003e7e solid; }
	 
	 
.ccm-input-text, div.ccm-field-meta input, div.ccm-field-meta textarea, .ccm-input-date, .ccm-input-password, .ccm-input-textarea {font-size: 18px; !important; border: 1px solid #aaa; color: #444; padding: 4px; width:190px;  position:relative;top:0px;}
div.ccm-form {width: 500px; margin:0 auto;}

#lineContainer {
    width:880px; margin:0px 0 0 25px;
}
#lineContainer #line {
    
    height:1px;
    border-bottom:1px solid #e9e9e9;
}
#lineContainer #quarter { width:210px; height:135px; float:left; padding:12px; background:url(../images/images-bg.png) no-repeat; margin-bottom:50px;}
#lineContainer #quarterTitle { text-align:center; font-size:12px; margin-bottom:40px;}
#lineContainer #full {
    padding: 0px 0;
    border-top: 1px dotted #CCC;
    overflow: hidden;
}
#lineContainer #full .text {
    overflow: hidden;
    float: left;
    width: 500px;
	margin: 50px 0 0 0;
}
#lineContainer #full h2 {
    margin: 0 0 10px;
    padding: 0;
	color: #ee2b74;
	font-family: "chaloops-medium",sans-serif;
	font-style: normal;
	font-weight: 600;
}
#lineContainer #full p {
    margin: 0 0 10px;
    float: left;
    clear: left;
}

#lineContainer #full img {
    max-width: 300px;
}
#lineContainer #full.left-image img {
    float: left;
    margin: 0 30px 0px 10px;
}
#lineContainer #full.right-image img {
    float: right;
    margin: 0 0 0px 20px;
}
