/* RESET STANDARD ELEMENTS */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite,
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog,
figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { line-height:130%; }
article, aside, dialog, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }



/* SET STANDARD GRID SYSTEM - STATIC 960 */

/* Containers
----------------------------------------------------------------------------------------------------*/
.wrapper {
    width: 960px;
    margin: 0 auto;
}
.row {
    margin: 0 auto;
    width: 960px;
    clear: both;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.cols_1, .cols_2, .cols_3, .cols_4, .cols_5, .cols_6,
.cols_7, .cols_8, .cols_9, .cols_10, .cols_11, .cols_12 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3,
.push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6,
.push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9,
.push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12 {
    position:relative;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.row .cols_1 { width:60px; }
.row .cols_2 { width:140px; }
.row .cols_3 { width:220px; }
.row .cols_4 { width:300px; }
.row .cols_5 { width:380px; }
.row .cols_6 { width:460px; }
.row .cols_7 { width:540px; }
.row .cols_8 { width:620px; }
.row .cols_9 { width:700px; }
.row .cols_10 { width:780px; }
.row .cols_11 { width:860px; }
.row .cols_12 { width:940px; }

/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.row .prefix_1 { padding-left:80px; }
.row .prefix_2 { padding-left:160px; }
.row .prefix_3 { padding-left:240px; }
.row .prefix_4 { padding-left:320px; }
.row .prefix_5 { padding-left:400px; }
.row .prefix_6 { padding-left:480px; }
.row .prefix_7 { padding-left:560px; }
.row .prefix_8 { padding-left:640px; }
.row .prefix_9 { padding-left:720px; }
.row .prefix_10 { padding-left:800px; }
.row .prefix_11 { padding-left:880px; }

/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.row .suffix_1 { padding-right:80px; }
.row .suffix_2 { padding-right:160px; }
.row .suffix_3 { padding-right:240px; }
.row .suffix_4 { padding-right:320px; }
.row .suffix_5 { padding-right:400px; }
.row .suffix_6 { padding-right:480px; }
.row .suffix_7 { padding-right:560px; }
.row .suffix_8 { padding-right:640px; }
.row .suffix_9 { padding-right:720px; }
.row .suffix_10 { padding-right:800px; }
.row .suffix_11 { padding-right:880px; }

/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.row .push_1 { left:80px; }
.row .push_2 { left:160px; }
.row .push_3 { left:240px; }
.row .push_4 { left:320px; }
.row .push_5 { left:400px; }
.row .push_6 { left:480px; }
.row .push_7 { left:560px; }
.row .push_8 { left:640px; }
.row .push_9 { left:720px; }
.row .push_10 { left:800px; }
.row .push_11 { left:880px; }

/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.row .pull_1 { left:-80px; }
.row .pull_2 { left:-160px; }
.row .pull_3 { left:-240px; }
.row .pull_4 { left:-320px; }
.row .pull_5 { left:-400px; }
.row .pull_6 { left:-480px; }
.row .pull_7 { left:-560px; }
.row .pull_8 { left:-640px; }
.row .pull_9 { left:-720px; }
.row .pull_10 { left:-800px; }
.row .pull_11 { left:-880px; }

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}