/* asset library */

tr.ccm-file-list-record td {height: 60px}
div.ccm-file-list-thumbnail {text-align: center; width: 75px; border: 4px solid #dedede; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.ccm-file-list-thumbnail-image{ text-align: center; height: 70px;}
div.ccm-file-list-thumbnail-image img {}
div.ccm-file-list-thumbnail-hover div {display: none;z-index: 105;position: absolute;top: 0px;left: 0px;border: 1px dotted #aaa;padding: 8px;background-color: #fff}
#ccm-file-list-multiple-operations {font-size: 10px}
table.ccm-results-list th.ccm-file-list-starred, table.ccm-results-list td.ccm-file-list-starred {padding: 0 4px 0 0;margin:0; text-align: center;}

div.ccm-file-sets-search-wrapper-input {background: transparent url(../images/icons/search.png) no-repeat scroll 8px 4px; padding-left: 32px}
div.ccm-file-sets-search-wrapper-input input {width: 100px; font-size: 10px}
table#ccm-file-search-advanced-sets-header {margin-bottom: 12px}
table#ccm-file-search-advanced-sets-header h2, table#ccm-file-search-advanced-sets-header h1 {margin: 0px}
div.ccm-file-search-advanced-sets-results {max-height: 200px; overflow: auto; position: relative;border: 2px solid rgba(200,200,200,0.2); padding: 4px}
div.ccm-file-search-advanced-sets-results ul, div.ccm-file-search-advanced-sets-results li {margin: 0px; padding: 0px; list-style-type: none}
div.ccm-file-search-advanced-sets-results li {position: relative; padding: 0px 38px 0px 20px}
div.ccm-file-search-advanced-sets-results li {min-height: 16px}
div.ccm-file-search-advanced-sets-results li input {position: absolute; top: 0px; left: 0px}
div.ccm-file-search-advanced-sets-results li div.ccm-file-search-advanced-set-controls {display: none; position: absolute; top: 0px; right: 0px; z-index: 10}
div.ccm-file-search-advanced-sets-results li:hover div.ccm-file-search-advanced-set-controls {display: block}

td.ccm-file-list-filename div {font-size: 11px}

ul#ccm-file-search-advanced-saved-searches-list li {padding: 2px}

ul.ccm-file-set-file-list {margin: 0px; padding: 0px}
ul.ccm-file-set-file-list li {
	width: 100px;
	min-height: 80px;   
	border: 2px solid #aaa;
	border-radius: 6px;
	padding: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	zoom: 1;
	text-align: center;
	*display: inline;
	_height: 250px;
}

div.ccm-files-add-to-sets-wrapper {background-color: #efefef; border: 1px solid #dedede; padding: 7px 8px 8px 8px}

ul.ccm-file-set-file-list span {font-size: 9px; display: block}

/* file permissions */
div.ccm-file-access-add-extensions-header {border-top: 1px solid #cecece; border-left: 1px solid #cecece; border-right: 1px solid #cecece; background: #D3E4F0; padding: 4px}
div.ccm-file-access-extensions {border: 1px solid #cecece; padding: 4px; height: 120px; overflow: auto; margin-bottom: 20px}


/* add asset */
div#ccm-files-add-asset {float: right; text-align: right; font-size: 11px; z-index: 10; /* position: relative */ }
div#ccm-files-add-asset h3 {float: left;margin-right: 4px;margin-top: 0px; padding-top: 4px; font-size: 11px}
div#ccm-files-add-asset form {float: left}
div#ccm-files-add-asset a {float: left;margin-left: 4px;margin-top: 4px}
img.ccm-generic-thumbnail {border: 0px}

.incoming_file_importer {margin: 10px auto 10px auto;}
.incoming_file_importer .borderflow {border: 1px solid #DEDEDE;overflow-y: scroll}
.incoming_file_importer .incoming_file {margin: 10px 0px 10px 0px;float: left;text-align: center}
.incoming_file_importer .incoming_file_table .center {text-align: center}
.incoming_file_importer .clear {clear: both}
.theader {background-color: #EFEFEF;font-weight: bold;padding: 4px 0px 4px 0px}

/* file sets dialog */
div#ccm-file-add-to-set-tab h2 {margin-bottom: 10px}
div#ccm-file-add-to-set-tab hr {border: 0px; background: #aaa; margin: 8px 0px 8px 0px; height: 1px}

div.ccm-file-search-advanced-sets-results li.ccm-file-set-add-cb {margin-bottom: 4px}
div.ccm-file-search-advanced-sets-results li.ccm-file-set-add-cb:last-child {margin-bottom: 0px}

.ccm-file-set-add-cb img {vertical-align: middle;}

/* properties */
div#ccm-file-properties table th {white-space: nowrap;}
div#ccm-file-properties table th, div#ccm-file-properties table td {vertical-align: top}
div#ccm-file-properties table th {text-align: right}
div#ccm-file-properties table th a { color: #999;text-decoration: underline}

/* Versions */
tr.ccm-file-versions-grid-active td {font-weight: bold !important}

/* Download */
div#ccm-file-manager-download-bar {
	background-color: rgb(221, 236, 240);
	padding: 4px;
	margin-bottom: 4px;
	border-bottom: 1px solid #dedede;
	text-align: right;
}

/* multiple upload */
/*
#ccm-file-upload-multiple-progress{padding:0;margin:0;}
#ccm-file-upload-multiple-progress .progressContainer{clear:left;border-color:#ddd;border-style:solid;border-width:0px 1px 0px 1px;}
#ccm-file-upload-multiple-progress .progressContainer div{background-color:#fff;width:197px;}
#ccm-file-upload-multiple-progress .progressContainer div.progressName,.progressContainer div.progressBarStatus,.progressContainer div.progressBarComplete{float:left;padding: 10px 10px 10px 4px;}
#ccm-file-upload-multiple-progress{border:1px solid #ddd;}
#ccm-file-upload-multiple-results-wrapper {clear:left; border:1px solid #ddd;border-top:0px;background-color:#efefef;padding:5px;}	
#ccm-file-upload-multiple-results {float: left; width: 200px;}
#ccm-file-upload-multiple-progress span.legend{display:block;background-color:#efefef;padding:5px;font-weight:bold;}
*/

table#ccm-file-upload-multiple-list {border:1px solid #ddd;}
table#ccm-file-upload-multiple-list th {font-weight: bold; text-align: left; padding: 4px; background-color: #D3E4F0; border-bottom: 1px solid #cecece}
table#ccm-file-upload-multiple-list td {padding: 8px; color: #666}
div.ccm-file-manager-progress-bar-pending {font-weight: bold; text-align: center}

.ui-progressbar { height:2em; text-align: left; width: 250px}
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }

/* Choose Asset in page */
div.ccm-file-manager-select {border: 1px solid #dedede}
div.ccm-file-selected-wrapper {border: 1px solid #dedede; padding: 10px 10px 10px 11px}
div.ccm-file-manager-select a {display: block; padding: 10px 10px 10px 25px; text-decoration: none; background: transparent url(../images/icons/add.png) no-repeat scroll 6px 11px; color: #666; font-weight: bold}
div.ccm-file-manager-select a:hover {background-color: #E6F2F3}
div.ccm-file-selected-wrapper:hover {background-color: #E6F2F3; cursor:pointer}

div.ccm-file-manager-pre-filter {margin-bottom: 10px; font-size: 14px; color: #888; font-weight: bold; }
div.ccm-file-selected-thumbnail {width: 60px; margin-right: 10px; float: left}
div.ccm-file-selected-data {padding-top: 0px; float: left}
div.ccm-file-selected-data div {font-size: 11px; word-wrap: break-word}