ins, ins * {background: #42A500 !important; color: #000 !important; text-decoration: none}
del, del * {background: #f22 !important; color: #000 !important; text-decoration: strike-through}

div.ccm-error {font: "Arial MT Rounded", "Arial", color: #f00}