/* Most of your editing will take place in the Component containers and Interation states section */


/* Layout helpers - NO NEED TO EDIT THIS SECTION
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* EDIT ANYTHING BELOW HERE */

/* Component containers
----------------------------------*/
.ui-widget-content { border: 0px solid #dddddd; }
.ui-widget-content a { }
.ui-widget-header { border-bottom: 1px solid #cccccc; font-weight: bold; }
.ui-widget-header a { }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6; font-weight: bold; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #cccccc; background: #fff; font-weight: bold; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #cccccc; background: #ffffff; font-weight: bold; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { outline: none; text-decoration: none; }

/* Tabs - You probably don't need to edit this
----------------------------------*/
div.ui-tabs { padding: .2em; zoom: 1; }
div.ui-tabs ul.ui-tabs-nav { list-style: none !important; position: relative; padding: .2em .2em 0 !important; background:none; }
div.ui-tabs ul.ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0 !important; padding: 0; }
div.ui-tabs ul.ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
div.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
div.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
div.ui-tabs ul.ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer;} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
div.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; border:1px solid #ccc; border-top:none; }
div.ui-tabs .ui-tabs-hide { display: none !important; }


