body { font-family:Calibri, Arial, sans-serif; font-size:14px; color:#433c39; line-height:140%; }
img {border: 0px}
@font-face {
    font-family: 'InterstateRegular';
    src: url(fonts/interstate-black-webfont.eot);
    src: url(fonts/interstate-black-webfont.eot?#iefix) format('embedded-opentype'),
         url(fonts/interstate-black-webfont.woff) format('woff'),
         url(fonts/interstate-black-webfont.ttf) format('truetype'),
         url(fonts/interstate-black-webfont.svg#InterstateRegular) format('svg');
    font-weight: normal;
    font-style: normal;

}
a,a:visited,a:active {
	text-decoration:none; color:#00407C;
}
a:hover {
	/* customize_link_hover */ color: #1b75bc; /* customize_link_hover */
} 

h1,h2,h3,h4,h5{ margin:0px 0px 4px 0px; padding:4px 0px; margin-top:8px }
h1{ font-weight:bold; font-size:40px; line-height:40px; margin-bottom:20px; color:#00407c; font-family:'InterstateRegular', Arial, sans-serif; }
h2{ font-size:24px; line-height:30px }
h3{ font-size:16px; line-height:24px }
h4{ font-size:14px; line-height:18px }
h5{ font-size:13px; line-height:16px }
p{ padding:0px 0px 0px 0px; margin:0px 0px 12px 0px; }


a.footer, a.footer:visited, a.footer:active { color:#FFF;}
a.footer:hover { color:#CCC}