.ccm-next-previous-wrapper .ccm-next-previous-previouslink { float:left; width: 33%; }
.ccm-next-previous-wrapper .ccm-next-previous-parentlink { float:left; width: 33%; }
.ccm-next-previous-wrapper .ccm-next-previous-nextlink { float:left; width: 33%; text-align:right}
.ccm-next-previous-wrapper .spacer { font-size:1px; line-height:1px; clear:both; }