<p>Thank you for buying Extended Form!</p>
<h2><strong>Setting up your form<br>
</strong></h2>
<p>Where do you need help with?<br /> - <a href="#formfields">Formfields</a>, <a href="#contentitems">Content items</a> and/or <a href="#others">Recipient selector</a><br /> - <a href="#preview">Preview</a><br /> - <a href="#requiredform">Required form elements</a> (captcha, required fields, submitbutton)<br /> - <a href="#otheroptions">Other form options</a><br /> - <a href="#aftersubmitted">After submitted</a><br /> - <a href="#editing">Editing</a><br /> - <a href="#css">CSS</a><br>
- <a href="#faq">FAQ</a></p>
<hr />
<p>Here some explanation about the formfields and there options</p>
<h2><a name="formfields"></a>Formfields<br>
</h2>
<p><strong>Textfield</strong><br /> Required: <em>title</em><br /> Options: <em>tooltip, required</em><br /> Validation (when required is checked): <em>may not be empty, accepts every character</em><br /> Description: <em>Adds a single textfield in the form</em><br /> Extra: <em>none</em></p>
<p><strong>E-mailaddress Field</strong><br /> Required: <em>title</em><br /> Options: <em>tooltip, required, send copy and reply-to</em><br /> Validation (when required is checked): <em>may not be empty, accepts only e-mailaddresses</em><br /> Description: <em>Adds a single textfield in the form that only accepts e-mailaddress</em><br /> 
Extra: <em>When added to the form you can check the "send copy and reply-to"-checkbox. When this is checked the submitter of the form will receive a notification e-mail and the admin will receive an e-mail with this e-mailaddress as sender. Use this if you want to reply to received e-mails. </em></p>
<p><strong>Textarea</strong><br /> Required: <em>title</em><br /> Options: <em>content option, settings (width &amp; height), tooltip, required</em><br /> Validation (when required is checked): <em>may not be empty, accepts every character</em><br /> Description: <em>Adds a textarea in the form</em><br /> Extra: <em>The content option is a default value of the textarea. The width and height settings allows you to manipulate the size of the textarea. Note that the settings will be overwritten by the stylesheet.</em></p>
<p><strong>TinyMCE Textarea</strong><br /> Required: <em>title</em><br /> Options: <em>tooltip, required</em><br /> Validation (when required is checked): <em>may not be empty, accepts every character</em><br /> Description: <em>Adds a TinyMCE editor in the form</em><br /> Extra: <em>The editor will be a simple version, so no advanced stuff</em></p>
<p><strong>Integer</strong><br /> Required: <em>title</em><br /> Options: <em>length, tooltip, required</em><br /> Validation (when required is checked): <em>may not be empty, accepts only numeric characters</em><br /> Description: <em>Adds a single textfield in the form that only accepts numeric characters</em><br /> Extra: <em>Length will allow you to add the number of characters the submitter must enter. So if length is 4 the entered value must be something between 0000 and 9999. When length is 99 all numeric values will be accepted.</em></p>
<p><strong>Radiobuttons</strong><br /> Required: <em>title</em><br /> Options: <em>content options, other option, tooltip, required</em><br /> Validation (when required is checked): <em>may not be empty, selection is required</em><br /> Description: <em>Adds a single or group of radiobuttons.</em><br /> Extra: <em>Content options allows you to create the different options to select. Every new line is a new radiobutton. Other option creates an extra option where the user can manually fill in his/her own. Something like none of the above...</em></p>
<p><strong>Selectbox</strong><br /> Required: <em>title</em><br /> Options: <em>content options, other option, tooltip, required</em><br /> Validation (when required is checked): <em>may not be empty, selection is required</em><br /> Description: <em>Adds a single selectionbox.</em><br /> Extra: <em>Content options allows you to create the different options to select. Every new line is a new option in the selectionbox. Other option creates an extra option where the user can manually fill in his/her own. Something like none of the above...</em></p>
<p><strong>Checkboxes</strong><br /> Required: <em>title</em><br /> Options: <em>content options, other option, tooltip, required</em><br /> Validation (when required is checked): <em>may not be empty, single or multiple selection is required</em><br /> Description: <em>Adds a single or group of checkboxes.</em><br /> Extra: <em>Content options allows you to create the different options to select. Every new line is a new checkbox. Other option creates an extra option where the user can manually fill in his/her own. Something like none of the above...</em></p>
<p><strong>Date/time</strong><br /> Required: <em>title</em><br /> Options: <em>date/time options, tooltip, required</em><br /> Validation (when required is checked): <em>may not be empty, date/time is required</em><br /> Description: <em>Adds a textfield with datepicker/timeselector</em><br /> Extra: <em>Date/time options has 3 options. Date/time creates a datepicker and timeselector, date only adds a datepicker and time only addes a timeselector. Default format is "YY/mm/dd H:i:s" </em></p>
<p><strong>Hiddenfield</strong><br /> Required: <em>title</em><br /> Options: <em>value, tooltip</em><br /> Validation (when required is checked): <em>none</em><br /> Description: <em>Adds a hiddenfield with or without a default value</em><br /> Extra: <em>Allows you to pass hidden information into the form</em></p>
<p><strong>Fileupload</strong><br /> Required: <em>title</em><br /> Options: <em>tooltip, required</em><br /> Validation (when required is checked): <em>may not be empty, a file must be uploaded</em><br />Description: <em>Adds a file upload field</em><br /> Extra: <em>Uploaded files are uploaded in the dashboard an are also visable in the reports. The download link will be published in the e-mail that is send to the admin (and submitter if "send copy and reply to"-checkbox is checked, see e-mailaddress field for more info)</em></p>
<p><strong>Rating</strong><br /> Required: <em>title</em><br /> Options: <em>stars, tooltip, required</em><br /> Validation (when required is checked): <em>may not be empty, a rating must be given</em><br />Description: <em>Adds a star-rating field to the form</em><br /> Extra: <em>The stars options allows change the number of stars that can be selected. 5 will show 5 stars, 10 will show 10 stars and so on...</em></p>
<hr />
<h2><a name="contentitems"></a>Content items<br>
</h2>
<p><strong>Title (h4)<br /> </strong>Required: <em>title</em><br /> Options: <em>none</em><br /> Description: <em>Adds a heading 4 to the form</em><br /> Extra: <em>The title will be shown with &lt;h4&gt;-tags</em></p>
<p><strong>Text (p)<br /> </strong>Required: <em>title</em><br /> Options: <em>text</em><br /> Description: <em>Adds a paragraph to the form</em><br /> Extra: <em>The text inserted will be shown with &lt;p&gt;-tags</em></p>
<p><strong>Horizontal rule</strong><br /> Required: <em>title</em><br /> Options: <em>none</em><br /> Description: <em>Adds a horizontal rule to the form</em><br /> Extra: <em>This will add a single line (&lt;hr /&gt;-tag)</em></p>
<p><strong>Empty line</strong><br /> Required: <em>title</em><br /> Options: <em>none</em><br /> Description: <em>Adds a spacer to the form</em><br /> Extra: <em>This will add a empty line (spacer) to the form. Note that it isn't a break (&lt;br /&gt;)</em>..</p>
<p><strong>Field set (start)</strong><br /> Required: <em>title</em><br /> Options: <em>legend</em><br /> Description: <em>Adds the start of a fieldset with or without a legend</em><br /> Extra: <em>This is only the start of the fieldset, so you should also add the field set (end) after this field. With the legend-option you can add a legend to the fieldset.</em></p>
<p><strong>Field set (end)</strong><br /> Required: <em>title</em><br /> Options: <em>none</em><br /> Description: <em>Adds the end of a fieldset</em><br /> Extra: <em>This is only the end of the fieldset, so you should also add the field set (start) before this field.</em></p>
<hr />
<h2><a name="others"></a>Others<br>
</h2>
<p><strong>Recipient selector</strong><br /> Required: <em>title, recipients</em><br /> Options: <em>required</em><br /> Description: <em>Adds a selectbox with recipients</em><br /> Extra: <em>Recipients-option allows you to add different recipients. Every new line is a new recipient in the selectionbox. Put each recipient (e-mailaddress;name) on a new line. Example: yourname@domain.com;Firstname Lastname. The name (if added) will be shown in the selectionbox. The e-mailaddress is automatically encrypted, so no e-mailaddress is shown. When a recipient selector is in the form, the selected recipient will receive an e-mail. The admin will also receive an e-mail.</em></p>
<hr />
<h2><a name="requiredform"></a>Required form elements<br>
</h2>
<p>Somethings need to be done...</p>
<p><strong>Formname<br /> </strong>The formname is required. Should be something like "Contactform" or "Inquiry"...</p>
<p><strong>Use Captcha<br /> </strong>Captcha is used to determine if a human is filling out the form. If you like spam, don't use it... ;-)<br /> If you use it you can use the default captcha of Concrete5 or you can use Google's reCaptcha.<br /> Fill out the necessary fields and you are good....</p>
<p><strong>Required fields<br /> </strong>If you have required fields in your form you can notify the submitter at the bottom of the form.<br /> Every required fields gets an astrix (*) besides its title.</p>
<hr />
<h2><a name="otheroptions"></a>Other options<br>
</h2>
<p>The addon has some more features you might want to use...</p>
<p><strong>Custom sender<br /> </strong>Normally the recipient of the e-mails towards the submitter are from the user who added the form (most of the time this will be the admin). Use this option if you want to determine which recipient should be used for the e-mails. You can add a name and e-mailaddress.</p>
<p><strong>Notify someone<br /> </strong>When the form is submitted you can notify someone with the form results, Put in a e-mailaddress and the form will be send to this e-mailaddress. The form will still be saved in the Reports of the dashboard.</p>
<p><strong>Capture User<br />
</strong>Loggedin users can aslo be captured. This way you know who submitted the form.</p>
<p><strong>Capture IP<br />
</strong>Captures the users IP-address.</p>
<p><strong>Capture PageID<br />
</strong>Useful when you use the form within your scrapbook. Now you know which page the form was on!a</p>
<hr />
<h2><a name="aftersubmitted"></a>After submitted<br>
</h2>
<p>After submitting the form you have a few options.</p>
<p><strong>Subject of e-mails</strong><br /> Change the subject of the e-mail, if you want to use the formname just enter %s.</p>
<p><strong>Adding a default attachment to the e-mail</strong><br /> You can select a file/or image to be automatically send with the e-mail. You can use this to send a singup form or a guaranteeform or something like that...</p>
<p><strong>Message after submitting / Redirect after submitting<br /> </strong>Here there are 2 options. You can either add a message after submitting or redirect to another page. The message doens't allow you to use HTML or something fancy, just a simple "thank you" is no problem. If you want more I suggest to use the redirect option.</p>
<hr />
<h2><a name="editing"></a>Editing<br>
</h2>
<p>You can change certain things about this script.</p>
<p>/blocks/controller.php - language and form functions.</p>
<p>/js/jquery.form.js - edit the behavior of the form</p>
<p>/js/jquery.tooltip.js - edit the behavior of the tooltip</p>
<p>/js/jquery.rating.js - edit the behavior of the rating stars</p>
<p>/mail/submission_admin.php - outgoing mail to the admin / webmaster<br /> /mail/submission_recepient.php - outgoing mail to the recipient</p>
<p>Keep in mind that the files in /mail/ are overwritten when updating this addon!</p>
<p>You can work with templates, example template is available in this addon.<br /> Check the files /blocks/extended_form/templates/custom</p>
<hr />
<h2><a name="css"></a>CSS<br>
</h2>
<p>Here some explanation about using the custom classes for each field / item.<br /> The custom class is alwasy assigned to the input.<br /> When the input has more "children" like label or other (when checked), you can use this<br /> also with your custom class...</p>
<p>Example:</p>
<p>.mycustomclassname { // This is the inputfield <br /> }</p>
<p>.mycustomclassname_label { // This is the label for the inputfield (available for radio, checkbox, select)<br /> }</p>
<p>.mycustomclassname_other { // This is the label for the "other" inputfield, when check (available for radio, checkbox, select) <br /> }</p>
<p>.mycustomclassname_tooltip { // This is the tooltip for the inputfield<br /> }</p>
<p>Some predefined class in the form...</p>
<p>.formBlockSurveyTable 		 -	Represents the complete form<br /> .formBlockSurveyRow			 -	Each row within the form.<br /> .formBlockSurveyCell 		 -	Each cell within the form. Title and inputfield are each in different cells but have the same class.</p>
<p>.question					- Assigned to the cell that holds the question or name of the input field<br /> .answer						 - Assigned to the cell that holds the inputfield</p>
<p>.checkboxList				 - A div around the checkboxes<br /> .checkboxPair				 - A div around the checkbox and its label</p>
<p>.radiobuttonsList			 - A div around the radios<br /> .radiobuttonsPair			 - A div around the radios and its label</p>
<p>.otherDiv					 - A div around the "other" inputfield (available for radio, checkbox, select) <br /> .tooltip_holder				 - This holds the text in the tooltip.</p>
<p>.space						 - Assigned to the cell that holds the space item<br /> .text						 - Assigned to the cell that holds the text item<br /> .hr							 - Assigned to the cell that holds the hr item<br /> .line						 - Assigned to the cell that holds the line item<br /> .fieldset					 - Assigned to the cell that holds the fieldset item<br /> .legend						 - Assigned to the cell that holds the legend item<br /> .required					 - Astrix and "required"-text in the form</p>

<hr>
<h2><a name="faq"></a>FAQ<br>
</h2>
<p><strong>1. The admin can't reply!</strong><br>
  You need an e-mailaddress field in the form and the checkbox &quot;Send copy and Reply to&quot; must be checked. In the options tab you need to check &quot;Notify someone&quot; and insert a valid e-mailadres. The form will be submitted to this address and the submitter will be the sender.</p>
<p><strong>2. Can this addon be used as a registration page of profile page?</strong><br>
  No! There is no connection between the users of your C5 installation and this addon.
</p>
<p><strong>3. The e-mails I receive are in plain text</strong><br>
Yes, this is correct. This addon can't use HTML e-mails (yet). So all fields (including TinyMCE) will be converted to plain text.</p>
<p><strong>4. How do I change the e-mail to my admin and/or submitter?</strong><br>
Change the files in the &quot;mail&quot; folder of this addon. See also <a href="#editing">Editing</a>.</p>
