body {background: #efefef url(../images/dashboard/bg.png) repeat-y scroll; padding: 0px; margin: 0px; font-size: 13px}
ul, li {margin: 0px; padding: 0px}
div.ccm-dashboard-inner ul { margin-top: 12px; margin-bottom: 12px}
div.ccm-dashboard-inner li {margin-left: 28px}
div#tree ul, div#tree li {margin: 0px; padding: 0px}

body, ul, td, div, h1, h2, h3, h4, h5 {font-family: "Helvetica Neue", Arial, Helvetica, sans-serif}
img {border: 0px}

div#ccm-dashboard-header {background: transparent url(../images/dashboard/bg_header.png) repeat-x scroll; position: absolute; top: 0px; left: 0px; height: 53px; width: 100%; z-index: 10}

div#ccm-system-nav-wrapper1 {position: absolute; top: 0; right: 0; z-index: 15; text-align:right; width:50%; }
ul#ccm-system-nav {height: 45px; border-left: 1px solid #d7d7d7; float:right;}
ul#ccm-system-nav li {
	float: left;
	border-right: 1px solid #d7d7d7;
	line-height: 15px;
	margin: 0px 0px 0px 0px !important;
	background: transparent url(../images/bg_header_rib.png) repeat-x scroll;
	padding: 0px 0px 1px 0px !important;
	list-style-type: none;
}

#ccm-dashboard-version{text-align:right; position:absolute; top:46px; right:0px; font-size:11px; color:#888; padding:4px; z-index:-1}

ul#ccm-system-nav li a, ul#ccm-system-nav li span {display: block; padding: 15px 9px 14px 28px; text-align: center; background-repeat: no-repeat; font-size: 13px; font-weight: bold; color: #787878; text-decoration: none; border-right: 1px solid #fff}
ul#ccm-system-nav li span {color: #cecece}
ul#ccm-system-nav li:hover {background: #A2DAFD url(../images/bg_header_active.png) repeat-x scroll;}
ul#ccm-system-nav a:hover {border-right: none; padding-right: 10px; color: #333}

a.ccm-nav-loading {background-image: url(../images/icons/icon_header_loading.gif) !important;}
ul#ccm-system-nav #ccm-nav-return {background-image: url(../images/dashboard/icon_return_to_website.png); background-position: 6px 14px !important}
ul#ccm-system-nav #ccm-nav-logout {background-image: url(../images/dashboard/icon_logout.png); background-position: 5px 14px !important}
ul#ccm-system-nav #ccm-nav-dashboard-help {background-image: url(../images/icons/icon_header_help.png); background-position: 6px 15px !important}
ul#ccm-system-nav #ccm-nav-dashboard-help.ccm-nav-loading {background-position: 6px 14px !important}

div#ccm-dashboard-nav {position: absolute; top: 45px; left: 0px; width: 200px; z-index: 2}
div#ccm-dashboard-nav li {display: block; width: 200px; background: #ededed url(../images/dashboard/bg_nav.png) repeat-x scroll; border-bottom: 1px solid #e1e1e1}
div#ccm-dashboard-nav li a {color: #787878; font-weight: bold; display: block; font-size: 13px; height: 40px; overflow: hidden; padding: 6px 11px 0px 12px; text-decoration: none}
div#ccm-dashboard-nav li a:hover {background: #A2DAFD url(../images/bg_header_active.png) repeat-x scroll;}
div#ccm-dashboard-nav li.ccm-nav-active a {background: #cdd9dd url(../images/dashboard/bg_nav_active.png) repeat-x scroll bottom right}
div#ccm-dashboard-nav li a span {font-family: "Helvetica Neue", Arial, Helvetica; font-size: 11px; color: #a8a8a8; height: 14px; overflow: hidden; font-weight: normal; display: block; margin-top: 1px}

/*
div#ccm-dashboard-page{ width:auto; padding-left:225px; margin:0px; padding-right:20px; padding-top:70px; padding-bottom:30px  }
div#ccm-dashboard-content {width:auto; height:auto; padding:0px; overflow:hidden  }
{ margin: 70px 30px 30px 225px; }
div#ccm-dashboard-content {width:auto; position: absolute; left:225px; top:70px; margin-bottom:30px; margin-right:30px; padding:0px  }
*/

div#ccm-dashboard-content {  margin: 70px 30px 30px 225px; padding:0px; height:auto }
div#ccm-dashboard-content-inner {display: table; width: 100%}
div.ccm-dashboard-inner {background-color: #fff; color: #666; border: 1px solid #ccc; padding: 8px; margin-bottom: 20px;  font-size: 12px; position:relative; }
div.ccm-dashboard-inner td {font-size: 12px}


div.ccm-dashboard-inner fieldset {
	border:1px solid #efefef;
}

h1 {background: transparent url(../images/dashboard/header_l.png) no-repeat; position: relative}
h1 span {display: block; background: transparent url(../images/dashboard/header_r.png) repeat-x right top; padding: 4px 3px 4px 0px; margin-left: 11px}
h1 a.ccm-dashboard-header-option {font-size: 11px; position: absolute; top: 7px; right: 10px}

form {margin: 0px}
a {text-decoration: none; color: #5377A9;}
a:hover {text-decoration: underline}
.required {color: #009}
.error {color: #f00}
.success {color: #666}
.deem {color: #aaa; }

h1, h2, h3, h4, h5 {color: #555; margin: 0px}
h1 {font-size: 16px; margin: 0px}
h2 {font-size: 14px; color: #457da5; margin-bottom: 8px}
h3 {margin-bottom: 8px; font-size: 13px}

div.message {padding: 10px; border: 1px solid #94a7c7; background: #eee; margin-bottom: 20px; font-size: 13px; font-weight: bold;}
div.message li {color: #666; font-weight: normal}
div.message ul {margin: 10px 0px 0px 0px; padding-left: 20px}

div.actions { position: absolute; top: 7px; right: 10px }


div#ccm-user-search {border: 1px solid #ddd; padding: 8px; margin-bottom: 10px;}
div#ccm-user-search div, div#ccm-user-search td, div#ccm-user-search input {font-size: 11px}
div#ccm-user-search span.ccm-input-time-wrapper {white-space: nowrap}
div#ccm-user-search-advanced {margin-top: 10px; display: none;}
div#ccm-user-search-regular {margin-top: 10px; display: none;}


table.grid-list td.crumb {color: #777;font-size:9px;background: #efefef}
table.grid-list td.crumb a {color: #aaa}
table.grid-list {background: #bbb; width:100%}
table.grid-list td {padding: 8px; background: #fff; color: #666}
table.grid-list td.subheader {padding: 4px; background: #ddd; font-size: 11px; font-weight: bold}
table.grid-list td.subheader a {color: #666;}
table.grid-list td.subheaderActive {background: #aaa; color: #222; font-size: 11px; font-weight: bold}
table.grid-list td.subheaderActive a {color: #fff}
table.grid-list td.active {background-color: #D3E4F0}
table.grid-list td.status {text-align: center}

table.entry-form {background: #bbb; margin-bottom: 10px}
table.entry-form td {padding: 4px 16px 4px 4px; background: #fff; color: #666}
table.grid-list td.header {font-weight: bold; background: #D3E4F0}
table.entry-form td.header {font-weight: bold; background: #D3E4F0}
table.entry-form td.subheader {font-weight: bold; color: #333; font-size: 13px; background: #efefef}
table.entry-form input, table.entry-form select {font-size: 13px}

div.ccm-paging {margin: 10px 0px 10px 0px}
div.ccm-paging-top {margin: 0px 0px 10px 0px;}
span.ccm-paging-top-content{padding-left: 10px; font-size: 10px;}
span.ccm-paging-top-content form {padding:0px;margin:0px;}

img.u-avatar {margin: 0px 10px 10px 0px; border: 2px solid #eaeaea}
div.ccm-dashboard-inner div.ccm-buttons {padding-top: 0px !important}

/* notification */
div#ccm-dashboard-notification {
	background: #D4DFCE;
	border-bottom: 1px solid #afafaf;
	margin: 46px 0px -48px 201px;
	padding: 5px;
	font-size: 12px;
	color: #888;
}

/* subnav */

div#ccm-dashboard-subnav {
	background: url(../images/dashboard/subnav_bg.png) repeat-x top;
	/* border-bottom: 1px solid #afafaf; */
	margin: 46px 0px -48px 201px;
	padding-bottom: 5px;
}
div#ccm-dashboard-subnav div.ccm-spacer {line-height: 0px; margin: 0px; height: 0px}
div#ccm-dashboard-subnav ul {
	font-size: 12px;
	color: #666;
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	font-weight:bold;
}

div#ccm-dashboard-subnav li {
	float: left; 
	/*	
	margin: 6px 20px 0px 0px;
	*/
	padding: 8px 20px 3px 20px; 
	height:19px;
	border-right:1px solid #9b9b9b;
}

div#ccm-dashboard-subnav a {color: #fff; text-decoration: none}
div#ccm-dashboard-subnav a:hover {text-decoration: underline}
div#ccm-dashboard-subnav li.nav-selected {
	/* background-color: #6A7881; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	*/
	background: url(../images/dashboard/subnav_button_on_bg.png) repeat-x;
}
div#ccm-dashboard-subnav li.nav-selected a {color: #fff; font-weight: bold}

div#ccm-dashboard-subnav-third {
	margin: 50px 0px -48px 222px;
}
div#ccm-dashboard-subnav-third ul {list-style-type: none; height:22px;}
div#ccm-dashboard-subnav-third ul li {
	float: left; 
	/*	
	margin: 6px 20px 0px 0px;
	*/
	font-size: 11px;
	padding: 0px 20px 3px 0px; 
	height:19px;
}

div#ccm-dashboard-subnav-third ul li.nav-selected {
	font-weight: bold;
}

div#ccm-dashboard-subnav-third ul li a:hover {
	border-bottom: 2px solid #aaa;
}

/* groups */
ul.ccm-dashboard-list, ul.ccm-dashboard-list li {margin: 0px; padding: 0px}
ul.ccm-dashboard-list li {list-style-type: none; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #ccc}

form#ccm-log-search {position: absolute; top: -22px; font-size: 10px; right: 10px}
form#ccm-log-search input, form#ccm-log-search select {font-size: 10px;}
form#ccm-log-search input.ccm-input-text, form#ccm-log-search input.ccm-input-select {padding: 2px}

/* homepage modules */

div#ccm-module-wrapper {min-width: 778px; }
div#ccm-module-row1 div.ccm-module {width: 375px; min-height: 300px; }
div#ccm-module-row2 div.ccm-module {width: 247px; min-height: 220px; }
div.ccm-module div.ccm-dashboard-inner {margin-bottom: 0px; white-space:normal;} 
div.ccm-module {margin-bottom: 10px; margin-right: 10px; float: left; font-size: 12px}
div#ccm-module-row2 {clear: both}

div.post {font-size: 11px; line-height: 16px; margin-bottom: 10px; padding-bottom: 8px; border-bottom: 1px dotted #aaa}

div.ccm-attribute-list {margin-top: 20px; margin-bottom: 20px}
div.ccm-attribute img {vertical-align: middle; margin-right: 4px}
div.ccm-attribute {border-bottom: 1px dotted #aaa; margin-bottom: 5px; padding-bottom: 5px}


*.notes {font-size: 10px; color: #aaa}

table.entry-form {width: 100%}
table.entry-form input.uak-text {width: 200px}
table.entry-form textarea.uak-textarea {width: 200px; height: 120px}
table.entry-form div.uak-radio {margin: 0px 0px 10px 0px}

.pagingNav{ margin:16px 0px 8px 0px}
.pagination{ text-align:center; color:#bbb; position: relative}
.pagination .pageRight{position: absolute; top: 0px; right: 0px;}
.pagination .pageLeft{position: absolute; top: 0px; left: 0px}

.noDisplay{display:none}
.center{text-align:center}

#loadingIcon{ display:none }

/* Add Functionality */
table.ccm-installed-items-list {width: 100%}
td.ccm-installed-items-list-name {width: 140px; white-space: nowrap}
td.ccm-installed-items-list-version {padding-right: 0px !important; text-align: right}
td.ccm-installed-items-list-description {padding-right: 40px !important;}
tr.ccm-installed-items-section-header {}
table.ccm-installed-items-list td {color: #777; vertical-align: top; padding: 6px 8px 6px 0px; line-height: 16px}
table.ccm-installed-items-list th {border-bottom: 1px solid #dedede; padding: 2px 0px 6px 0px;text-align: left;}

/* templates */

table#ccm-template-list {width: 100%}
table#ccm-template-list img.ccm-icon-theme {border: 3px solid #888; margin-right: 10px; margin-bottom: 10px}
table#ccm-template-list td {padding: 10px}
table#ccm-template-list td.ccm-template-content {width: 100%; padding-left: 0px}
table#ccm-template-list tr.ccm-theme-active td {background-color: #E2F2FC}

div.ccm-dashboard-radio input {vertical-align: middle}
div.ccm-dashboard-radio {margin-bottom: 8px}
div.ccm-dashboard-description {color: #888; margin-bottom: 8px}
.clear {clear:both;}

/* editable themes */
div.ccm-theme-style-attribute {position: relative; height: 30px; white-space: nowrap; border-bottom: 2px solid #eee; margin-bottom: 8px; font-weight: bold; padding-left: 40px; padding-top: 10px; padding-right: 20px}
div.ccm-theme-style-slots {padding-left: 75px}

div.ccm-theme-style-attribute div.ccm-theme-style-slot-1 {
	left: 35px;
}
div.ccm-theme-style-attribute div.ccm-theme-style-slot-2 {
	left: 0px;
}

div.ccm-theme-style-attribute div {
	position: absolute;
	top: 0;
	left: 0px;
	width: 36px;
	height: 36px;
	background: url(../images/widgets/colorpicker/select2.png);
	cursor: pointer;
}
div.ccm-theme-style-attribute div div {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: url(../images/widgets/colorpicker/select2.png) center;
}

div.ccm-theme-style-attribute div.ccm-theme-style-font {
	background: transparent url(../images/widgets/font/text_rich.png) no-repeat scroll 6px 6px;
}

div.ccm-theme-style-attribute div.ccm-theme-style-custom {
	background: transparent url(../images/widgets/font/custom_style.png) no-repeat scroll 10px 10px;
}


div#jquery-font-panel input, div#jquery-custom-panel input {
	font-size: 10px;
}
div#jquery-font-panel, div#jquery-custom-panel {
	display: none; 
	position: absolute; 
	top: 0px; left: 0px; 
	width: 356px;
	height: 176px;
	overflow: hidden;
	background: url(../images/widgets/font/background.png);
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	display: none;
}

div#jquery-custom-panel div#jquery-custom-panel-save {
	padding-top: 5px;
	padding-right: 11px;
	text-align: right;
}

div#jquery-custom-panel textarea {
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid #dedede;
	padding: 4px;
	width: 325px;
	height: 115px;
}

div#jquery-font-panel div.jquery-font-panel-list {
	overflow: auto;
	border: 2px solid #bfbfbf;
	height: 152px;
}

div#jquery-font-panel div#jquery-font-panel-list-fonts {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 180px; 
}

div#jquery-font-panel div#jquery-font-panel-list-sizes {
	position: absolute;
	top: 10px;
	left: 205px;
	width: 60px; 
}

div#jquery-font-panel div#jquery-font-panel-list-styles {
	position: absolute;
	top: 10px;
	left: 280px;
	width: 65px;
	height: 50px;
}

div#jquery-font-panel div#jquery-font-panel-list-weights {
	position: absolute;
	top: 68px;
	left: 280px;
	width: 65px;
	height: 50px;
}

div#jquery-font-panel div#jquery-font-panel-save {
	position: absolute; 
	top: 130px;
	left: 295px;
}

div#jquery-font-panel-save input, div#jquery-custom-panel-save input {
	width: 36px;
	padding: 0px;
	text-align: center;
}

div#jquery-font-panel div.jquery-font-panel-list div {
	padding: 4px;
	border-bottom: 2px solid #e1e1e1;
	background-color: #fefefe;
	font-size: 12px; 
	color: #787878;
	cursor: pointer;
}

div#jquery-font-panel div.jquery-font-panel-list div.font-panel-list-selected {background-color: #E6EBED; color: #333}

table.ccm-dashboard-inner-columns {width: 100%}
td.ccm-dashboard-inner-leftcol{width:60%;}
td.ccm-dashboard-inner-rightcol{width: 40%;}
td.ccm-dashboard-inner-gutter div {width: 20px}
div.ccm-dashboard-inner-leftcol table.grid-list{width:100%;}

div#displayOptions {

	margin: 0 0 7px 0;

}



div#sortOptions {

	display: inline;

	margin-left: 20px;

}



div.surveyDetails {

	height: auto;

	margin: 0px;

	padding: 0px;

	width: 100%;

}



div.surveyOverview {

	float: left;

	height: auto;

	margin: 0px;

	padding: 0px;

	width: 60%;

}



div.surveySwatch {

	background: #999999 none repeat scroll 0 50%;

	border: 1px solid #666666;

	float: left;

	font-size: 1px;

	height: 10px;

	line-height: 1px;

	margin: 3px 4px 0 0;

	width: 10px;

}

/* permissions */
div.ccm-permissions-entities-wrapper {padding-bottom: 10px; margin-bottom: 10px}
div.ccm-permissions-entities-wrapper h2 {margin-bottom: 10px; border-bottom: 1px dotted #aaa; padding-bottom: 4px}
div.ccm-permissions-entities-wrapper th {text-align: left; vertical-align: top;; padding-right: 20px}
div.ccm-permissions-entities-wrapper td {vertical-align: top; padding: 0px 30px 0px 0px}
div.ccm-permissions-entities-wrapper h2 img {float: right}
div.ccm-permissions-entity-base {display: none}

/* notifications */
ul#ccm-dashboard-notification-list {margin: 0px 0px 0px 0px; padding: 0px}
ul#ccm-dashboard-notification-list h3 {color: #555; margin-bottom: 2px}
ul#ccm-dashboard-notification-list h3 a {color: #555;}
ul#ccm-dashboard-notification-list li {position: relative; color: #ccc; white-space:normal; }
ul#ccm-dashboard-notification-list li.ccm-dashboard-notification-list-date:first-child {margin-top: 0px}
ul#ccm-dashboard-notification-list li.ccm-dashboard-notification-list-date {margin-top: 20px; border-bottom: 1px dotted #aaa !important; padding-left: 0px !important}
ul#ccm-dashboard-notification-list li.ccm-dashboard-notification-list-date h2 {margin-bottom: 0px; font-size: 12px}


ul#ccm-dashboard-notification-list p {color: #666; line-height: 16px; margin-top: 0px; margin-bottom: 2px; white-space:normal; }
ul#ccm-dashboard-notification-list a:hover {text-decoration: underline}
a.ccm-dashboard-notification-read-more {font-size: 11px; color: #77B2DA; position: static; display: inline;}
span.ccm-dashboard-notification-time {font-size: 10px; font-weight: normal; color: #aaa; white-space: nowrap}
ul#ccm-dashboard-notification-list li {background-repeat: no-repeat; list-style-type: none; padding: 0px 0px 6px 23px; min-height: 14px; margin: 0px 0px 6px 0px; border-bottom: 1px dotted #dedede;}
li.ccm-dashboard-notification-generic {background-image: url(../images/dashboard/notification_icons/information.png);} 
li.ccm-dashboard-notification-core-update {background-image: url(../images/dashboard/notification_icons/concrete5.png);} 
li.ccm-dashboard-notification-addon-update {background-image: url(../images/dashboard/notification_icons/gear_new.png);} 
li.ccm-dashboard-notification-critical {background-image: url(../images/dashboard/notification_icons/warning.png);} 
li.ccm-dashboard-notification-addon-message {background-image: url(../images/dashboard/notification_icons/gears_view.png);} 
li.ccm-dashboard-notification-core-message-help {background-image: url(../images/dashboard/notification_icons/lightbulb_on.png);} 
li.ccm-dashboard-notification-core-message-news {background-image: url(../images/dashboard/notification_icons/document_info.png);} 

/* addon list */

div.ccm-addon-list {border-bottom: 1px solid #ddd; margin-top: 15px; padding-bottom: 15px}
div.ccm-addon-list:last-child {border-bottom: none}
div.ccm-addon-list table {width: 100%;}
div.ccm-addon-list table td {vertical-align: top}
div.ccm-addon-list h3 {margin: 0px 0px 2px 0px; padding: 0px}
div.ccm-addon-list table td.ccm-addon-list-description {width: 100%; padding: 0px 6px 0px 10px}
div.ccm-addon-marketplace-account {border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; padding-top: 13px; padding-bottom: 13px; margin-bottom: 13px} 