/* HTML Tag Redefinition */
/*html, body {height: 100%;  }*/
body {/* customize_background  background-color: #f1efee;*/ /*background-image:url(images/page_main_bg.gif); background-position:center top; background-repeat:no-repeat;*/ /* customize_background */ padding: 0px; margin: 0px; /*background-image:url(images/page_main_bg_rep.gif); background-position:center top; background-repeat:no-repeat;*/ background-color:#dad9d9; }
img {border: 0px}
/*a { cursor:pointer}*/




/* Header */
#top { background:url(images/top-bg.gif) repeat-y center;margin-top:-165px;}
#top:hover {margin-top:0px;}
#top #topContainer {width:900px; margin:0 auto; padding:20px; padding-bottom:5px;}
#top #topContainer #socialMedia { background:url(images/top-bubble.gif) no-repeat bottom; padding-bottom:30px;  height:150px;}
#top #topContainer #socialMedia #twitter {width:420px; margin-right:20px; float:left; color:#FFF;}
#top #topContainer #socialMedia #facebook {width:420px; float:right; color:#FFF;}



#header { background:url(images/top-bg.gif) repeat-y center;}
#header #headerContainer {width:900px; margin:0 auto; padding:10px 20px; height:50px; color:#FFF;}
#header #headerContainer #logo { width:300px; float:left }
#header #headerContainer #menu { text-align:right; display:inline-block; max-width:590px; float:right; margin-top:10px;}
#header #headerContainer ul { text-align:right;}
#header #headerContainer ul li { display:block; float:left;}
#header #headerContainer ul li a { padding:5px; margin-left:20px; text-decoration:none; color:#FFF; font-size:15px;}
#header #headerContainer ul li a:hover {color:#CCCCCC;}


#main {}
#main #mainContainer { width:900px; margin:20px auto; background-color:#FFF; border:1px #CCC solid; padding:20px;}
#main #mainContainer #lineContainer { width:940px; margin-left:-18px; }
#main #mainContainer #lineContainer #quarter { width:210px; height:135px; float:left; padding:12px; background:url(images/images-bg.png) no-repeat;}
#main #mainContainer #lineContainer #quarterTitle { width:234px; float:left; text-align:center; font-size:12px; margin-bottom:40px;}
#main #mainContainer #twoThird { width:600px; float: left;}
#main #mainContainer #oneThird { width:250px; float: right;}
#main #mainContainer #testimonials {background-color: #999; color:#FFF; font-size:20px; margin-bottom:20px;}
#main #mainContainer #testimonials:hover {background-color:#00407c}
#main #mainContainer #image { width:467px; height:303px; background:url(images/images-gd-w.png) no-repeat; float:right; margin-left:10px;}
#main #mainContainer #signup { }
#main #mainContainer #leftHalf { width:430px; float: left;}
#main #mainContainer #leftHalf #contactUs { font-size:18px; font-weight:bolder; color:#00407c; line-height:110%}
#main #mainContainer #rightHalf { width:430px; float: right;}
#main #mainContainer #download {background-color:#00407c; padding:20px; padding-bottom:10px; color:#FFF; font-size:18px; }


#strap { background:url(images/main-strap-bg.gif) repeat-x; height:176px;}
#strap #strapContainer { width:900px; margin:20px auto; padding:20px;}

#strap-s { background:url(images/main-strap-s-bg.gif) repeat-x; height:81px; margin-bottom:20px;}
#strap-s #strapContainer { width:900px; margin:20px auto; padding:7px;}
#strap-s #strapContainer h1 {color:#FFF;}