body { font-family:Calibri, Arial, sans-serif; font-size:14px; color:#433c39; line-height:140%; }
img {border: 0px}
a,a:visited,a:active {
	/* customize_link */  /* customize_link */
}
a:hover {
	/* customize_link_hover */ color: #1b75bc; /* customize_link_hover */
} 

h1,h2,h3,h4,h5{ margin:0px 0px 4px 0px; padding:4px 0px; margin-top:8px }
h1{ font-weight:bold; font-size:40px; line-height:40px; margin-bottom:20px; color:#00407c; }
h2{ font-size:24px; line-height:30px }
h3{ font-size:16px; line-height:24px }
h4{ font-size:14px; line-height:18px }
h5{ font-size:13px; line-height:16px }
p{ padding:0px 0px 0px 0px; margin:0px 0px 12px 0px; }