@charset "utf-8";
/* CSS Document */


body
{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px 0px;
}
.center
{
	margin-left:auto;
	margin-right:auto;
	margin-top: 0px;
}

#InnerContent
{
	width: 800px;
	margin: auto auto;
	padding: 10px 10px;
	color:#333333;
	font-size:14px;
	border-left: 1px solid #E5E8E8;
	border-right: 1px solid #E5E8E8;
	border-bottom: 1px solid #E5E8E8;
	
}
.titletext {
	font-family: Arial, Helvetica, sans-serif;
	font-size:26px;
}
.required {
	color: #C00;
	font-size: 12px;
}
.formtext {
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
}



.button1

{
	background-image:url(button.png);
	background-color:transparent;
	width:102px;
	height:36px;
	border:none;
	cursor:pointer;
	cursor:hand;
	padding-bottom:5px;
	text-align: center;
}
.heading {
	font-weight: bold;
	font-size: 15px;
}

h1,h2,h3,h4
{
	color: #105C97;
}

#primaryuser
{
	margin-top: 10px;
	width: 100%;
}

#primaryuser .user, .otheruser .user 
{
	float: left;
	width: 40%;
}
#primaryuser .emails, .otheruser .emails
{
	width: 60%;
	float: left;	
} 

.red {
	color: #ff0000;
}


